*{
    box-sizing: border-box;
} 

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}

    /* -- MENU --*/
.logo {
    width: 5.5%;
}
.container{
    background: rgb(27, 195, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
}
    .menu-nav{
        list-style: none;
        display: flex;
        margin: 0;
    }
    .menu-nav a{
        text-decoration: none;
        padding: 20px;
        color:white;
        text-align: center;
        font-size: 18px;
            }
    .menu-nav a:hover{
        background-color: whitesmoke;
        color: rgb(4, 93, 105);
    }
    /* -- FIM MENU --*/



    /*-- CAPA --*/
.img-prin{
    background-image: url(../imagens/backgroung.png);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    min-height: 100vh; 
}
.img-prin h1{
    margin:0 auto;
    color: rgb(4, 93, 105);
    font-size: 80px;
    text-shadow: 2px 3px 2px white;
    
}
.img-prin p{
    color: black;
    padding-bottom: 15px;
    font-size: 40px;
    text-shadow: 2px 3px 2px white;
    font-family: 'Maven Pro', sans-serif;
}
.ods{
    color: white;
    border: 4px white solid;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: black;

}
.ods:hover{
    background-color: rgb(27, 195, 218);
}
    /*-- FIM CAPA --*/



    /*-- SEÇÃO DESIGUALDADES --*/
.t-des{
    background-color: rgb(214, 245, 250);
    text-align: center;
    margin: 0 auto;
    padding: 30px 10px 20px 10px;
    color: rgb(4, 93, 105);
    font-size: 40px;
}
.desigualdade{
    background-color: rgb(214, 245, 250);
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 30px;
    flex-wrap: wrap;
}
.imgs{
    flex: 30%;
    width: 30%;
    text-align: center;
    padding: 0px 70px;
    font-size: 20px;
}
.imgs img{
    width:50px;
}
.imgs p{
    text-align: justify;
}
    /*-- FIM SEÇÃO DESIGUALDADES --*/

    
    /*-- SEÇÃO AÇÕES AFIRMATIVAS --*/
.afirmativas {
    align-content: center;
    text-align: center;
}
.video{
    flex: 50%;
    padding: 0px 50px;
}
.video iframe{
    width: 100%;
}
    /*-- FIM SEÇÃO AÇÕES AFIRMATIVAS --*/
   

    /*-- SEÇÃO INICIATIVAS --*/  
.iniciativa {
        align-content: center;
        text-align: center;
    }
    /*-- FIM SEÇÃO INICIATIVAS --*/ 


    /*-- SEÇÃO SOBRE MIM --*/
.sobre{
    display: flex;
    align-content: center;
    margin: 0 auto;
    max-width: 100%;
    background-color: rgb(214, 245, 250);
    padding: 25px 0px;
}
.eu{
    flex: 50%;
    padding: 10px 80px;
    align-content: center;
}  
.eu h1{
    text-align: center;
    font-size: 40px;
    color: rgb(4, 93, 105);
}
.eu h3{
    text-align: center;
    font-size: 25px;
}
.eu p{
    text-align: justify;
    font-size: 20px;
}
.eu img{
    max-width:100%;
    border-radius: 15px;
}
    /*-- FIM SEÇÃO SOBRE MIM --*/


    /* -- RODAPÉ -- */
footer{
    display: flex;
    background: rgb(27, 195, 218);
    margin: 0 auto;
    padding: 30px 50px;
    max-width: 100%;
    color: white;
}
.credit{
    flex: 50%;
    align-content: center;
    padding-left: 30px;
}
.credit h1{
    text-align: center;
}
.credit p{
    text-align: justify;
    font-size: 20px;
}

.fontes li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    text-align: justify;
}
    /*-- FIM DO RODAPÉ --*/



    /*-- RESPONSIVIDADE --*/
@media (max-width: 760px){
    .container{
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .menu-nav{
        display: none;
    }

    .desigualdade, .t-des, .imgs, .sobre{
        flex-direction: column;
        padding: 0px;
        margin: 0 auto;
    }
    .video{
        flex: 1;
        padding: 20px;
        width: 90%;
    }
    





}