*{
    box-sizing: border-box;
} 

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}

/*-- menu principal --*/
.container{
    background: rgb(27, 195, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
}
.container img{
    width: 90px;
    padding-left: 20px;
}
.menu-nav{
    list-style: none;
    display: flex;
    margin: 0;
}
.menu-nav a{
    text-decoration: none;
    padding: 20px;
    color:white;
    text-align: center;
    font-size: 18px;
}
.menu-nav a:hover{
    background-color: whitesmoke;
    color: rgb(4, 93, 105);
}
/*-- fim menu principal --*/


/*-- capa da página --*/
.capa {
    background-image: url(../img/backgroung.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    text-align: center;    
    justify-content: center;
}
.capa h1{
    font-size: 80px;
    margin: 0 auto;
    color: rgb(4, 93, 105);
    text-shadow: 2px 3px 2px white;
}
.capa p{
    font-size: 40px;
    padding-bottom: 15px;
    text-shadow: 2px 3px 2px white;
    font-family: 'Maven Pro', sans-serif;
}
.ods{
    color: white;
    border: 4px white solid;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
}
.ods:hover{
    background-color: rgb(27, 195, 218);
}
/*-- fim da capa da página --*/

/*-- seção desigualdades --*/
.desigualdades {
    max-width: 100%;
    padding: 30px 0px 25px 0px;
    background-color: azure;
}
.desigualdades h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(4, 93, 105);
    font-weight: bold;
}
.desigualdades p{
    text-align: center;
    font-size: 25px;
}
.container-desig{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}
.card-desig{
    flex: 30%;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 32px;
}
.card-desig img{
    max-width: 35%;
    margin: 20px;
}
.card-desig h3{
    text-align: center;
    font-weight: bold;
}
.card-desig p{
    text-align: justify;
    font-size: 22px;
}
.img-card{
    height: 85px;
    width: 85px;
    text-align: center;
    margin: 0 auto;
}
.img-card img{
    max-width: 80%;
    margin: 15px;
}
/*-- fim seção desigualdades --*/


/*-- seção ações afirmativas --*/
.acoes {
    max-width: 100%;
    padding: 30px 0px 25px 0px;
    background-color: rgb(231, 255, 255);
}
.acoes h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(4, 93, 105);
}
.acoes h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.acoes p{
    text-align: center;
    font-size: 21px;
    padding: 2px 210px;
}
.container-acoes{
    max-width: 100%;
    margin: 0 auto;
}
.container-acoes h2{
    font-size: 40px;
    text-align: center;
    padding-top: 28px;
    color: rgb(4, 93, 105);
}
.acao {
    display: flex;
    max-width: 100%;
    background-color: #9DD5CE;
    padding: 20px 85px;
    justify-content: center;
    align-items: center;
    margin: 20px 140px;
    border-radius: 2%;
}
.exemplo{
    display: flex;
    flex: 30%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.exemplo img{
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.conteudo{
    flex: 70%;
}
.conteudo h2{
    text-align: center;
    font-size: 25px;
    color:rgb(4, 93, 105);
    padding: 0;
}
.conteudo p{
    text-align: justify;
    justify-content: center;
    padding: 0px 90px 0px 10px;
}
/*-- fim seção ações afirmativas --*/


/*-- seção meu projeto --*/
.projeto{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}
.texto-projeto{
    flex: 70%;
    justify-content: center;
    padding: 0px 100px;
}
.texto-projeto h1{
    font-size: 35px;
    text-align: center;
    color:rgb(4, 93, 105);
}
.texto-projeto h3{
    text-align: center;
    font-size: 28px;
}
.texto-projeto p{
    text-align: justify;
    font-size: 24px;
}
.img-projeto{
    display: flex;
    flex: 30%;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.img-projeto img{
    max-width:100%;
}
/*-- fim seção meu projeto --*/


/*-- seção sobre mim --*/
.sobre{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0px 20px 0px;
    flex-wrap: wrap;
    background-color:azure;
    align-items: center;
    justify-content: center;
}
.eu{
    flex: 50%;
    padding: 10px 80px;
    align-content: center;
}  
.eu h1{
    text-align: center;
    font-size: 40px;
    color: rgb(4, 93, 105);
}
.eu h3{
    text-align: center;
    font-size: 25px;
}
.eu p{
    text-align: justify;
    font-size: 20px;
}
.eu img{
    max-width:100%;
    border-radius: 15px;
}
    /*-- fim da seção sobre mim --*/


    /* -- rodapé -- */
footer{
    display: flex;
    background: rgb(27, 195, 218);
    margin: 0 auto;
    padding: 30px 50px;
    max-width: 100%;
    color: white;
}
.credit{
    flex: 50%;
    align-content: center;
    padding-left: 30px;
}
.credit h1{
    text-align: center;
}
.credit p{
    text-align: justify;
    font-size: 20px;
}

.fontes li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    text-align: center;
}
    /*-- fim do rodapé --*/


    /*-- responsividade --*/

@media all and (max-width: 760px){
    .container{
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .container img{
        padding: 0px;
        width: 80px;
    }
    .menu-nav{
        display: none ;
    }      
    .desigualdades, .container-desig, .card-desig{
        flex-direction: column;
        padding: 0px;
    }
    .desigualdades h1, .acoes h1, .texto-projeto h1, .eu h1{
        font-size: 30px;
    }
    .capa h1{
        font-size: 68px;
    }
    .capa p{
        font-size: 32px;
        padding: 0;
        margin: 0;
    }
    .desigualdades p{
        font-size: 21px;
        padding: 0px 15px;
    }
    .card-desig p{
        font-size: 18px;
    }
    .acoes{
        padding: 10px 0px;
    }
    .acoes h3{
        font-size: 22px;
    }
    .acoes p{
        flex-direction: column;
        padding: 0px 30px;
        margin-bottom: 35px;
        font-size: 18px;
        text-align: center;
    }
    .container-acoes h2{
        padding: 0px 10px;
        margin:0px;
    }
    .acao{
        flex-direction: column;
        padding: 10px;
        margin: 18px 25px;
        border-radius: 4%;
    }
    .conteudo{
        flex-direction: column;
    }
    .conteudo p{
        text-align: justify;
    }
    .exemplo{
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        width: 100%;
    }
    .exemplo img{
        margin: 10px 64px 0px 64px;
        width: 100%;
    }
    .projeto{
        flex-direction: column;
        background-color:rgb(231, 255, 255)
    }
    .texto-projeto{
        padding: 0px 25px;
    }
    .texto-projeto h3{
        font-size: 22px;
    }
    .texto-projeto p{
        font-size: 19px;
    }
    .img-projeto{
        padding: 0px;
        display: flex;
    }
    .img-projeto img{
        width: auto;
        margin: 0 auto;
    }
    .text{
        font-size: 20px;
        margin: 0px;
        padding: 15px 
    }
    .sobre{
        flex-direction: column;
        padding: 0px;
    }
    .eu{
        padding: 10px 35px;
    }
    .eu img{
        display: flex;
        justify-content: center;
    }
    .eu h1{
        margin: 0px;
    }
    .eu h3 {
        margin: 10px 0px;
        font-size: 20px;
    }
    .eu p{
        font-size: 18px;
        margin: 5px 0px;
    }
    footer{
        flex-direction: column;
        padding: 10px 35px;
    }
    .credit{
        padding: 0px;
    }
    .credit h1{
        font-size: 28px;
        margin: 5px 0px 18px 0px;
    }
    .fontes {
        padding: 0px;
    }
}